.island {
  position: fixed;
  bottom: 40px;
  display: inline-flex;
  gap: 30px;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;
  border: 1px solid #323232;
  background: rgba(54, 54, 54, 0.5);
  backdrop-filter: blur(5px);
  padding: 10px;
}

.island_admin {
  display: flex;
  align-items: center;
  gap: 10px;
}

.island_admin img {
  width: 40px;
  height: 40px;
}

.island_admin_profile_img {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}

.island_admin_profile_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.island_admin_profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.island_admin_profile_name {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.save_btn {
  background: #2fe094;
  height: 40px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  transition: all 0.3s ease;
}

.add {
  background: #fff;
}

.save_btn:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.island_admin_exit img {
  transition: all 0.3s ease;
}

.island_admin_exit img:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.add_btn {
  width: 100%;
  transition: all 0.3s ease;
  margin-bottom: 40px;
}

.add_btn:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.add_btn_img {
  width: 100%;
  transition: all 0.3s ease;
  margin-bottom: 40px;
}

.add_btn_img:hover {
  transform: scale(0.95);
  cursor: pointer;
}

input {
  border: none;
  border-bottom: 1px solid #5e5e5e;
  padding-bottom: 6px;
  margin-bottom: 20px;
  background: transparent;
  outline: none; /* убирает стандартную синюю обводку */
}

input:focus {
  border-bottom: 1px solid #2fe094; /* твой цвет при фокусе */
}

.form_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description_textarea {
  border: none;
  border-bottom: 1px solid #5e5e5e;
  padding-bottom: 6px;
  margin-bottom: 20px;
  height: 200px;
  background: transparent;
  outline: none; /* убираем синюю обводку */
  resize: vertical; /* можно менять высоту, но не ширину (опционально) */
}

.description_textarea:focus {
  border-bottom: 1px solid #2fe094; /* зелёная линия при фокусе */
}

.close {
  rotate: 45deg;
}
